@import url("style.css");

body{
background-image: url("netherlands.png");
    background-size: cover;
}
#main{
    height:90%;
    width:100%;
    /* background-color:var(--main-black); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#main__text{
 width:100%;
 text-align: center;
 font-size: 6rem;
 
}
#secondary__text{
    text-align: center;
    
}
#me{
    justify-self: flex-end;
}
.fa{
    margin-right: 1rem;
    
}
#contact{
    margin-left:auto;
    color:var(--light-blue-600);
}

.landing_page_svg{
    height: 30rem;
}

@media only screen and (max-width: 1050px) {
 
    #main{
        flex-direction: column;
    }
    .landing_page_svg{
    height: 30rem;
}
#main__text{

 font-size: 5rem;
 
}
}
