<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../style.css" />
  <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/rainbow-cusom.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>AtomUI</title>
</head>

<body onload="sh_highlightDocument();">

  <div id="navbar">
    <i id="navbar__icon" class="material-icons">menu</i>
  </div>
  <main>
    <div class="main__grid">
      <section id="sidebar">
        <h1 id="sidebar__heading" class="txt-bold"><a href="../../index.html">AtomUI</a></h1>

        <div id="sidebar__links">
          <a href="../../documentation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Docs.</div>
          </a>
          <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Avatar</div>
          </a>
          <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Alert</div>
          </a>
          <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Badge</div>
          </a>
          <a href="../Button/button.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Button</div>
          </a>
          <a href="../Card/card.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center active"><i class="material-icons">
                chevron_right
              </i>Card</div>
          </a>
          <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Image</div>
          </a>
          <a href="../Input/input.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Input</div>
          </a>
          <a href="../List/list.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Lists</div>
          </a>
          <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Modal</div>
          </a>
          <a href="../Navigation/navigation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Navigation</div>
          </a>
          <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Rating</div>
          </a>
          <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Grid</div>
          </a>
          <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Slider</div>
          </a>
          <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> snackbar</div>
          </a>
          <a href="../Text/text.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Text</div>
          </a>
        </div>
      </section>
      <section id="documentation">

        <h1 id="documentation__heading"> Cards</h1>
        <p id="documentation__brief">
          Use different types of card components to display items or posts.
        </p>
        <div class="documentation__subheading h4 p-4 txt-main-white">Media Cards</div>
        <div class="component__container card__container">
          <div class="card__wrapper box-shadow flex flex-col m-8 bg--main-white relative">
            <i class="material-icons remove absolute txt-main-white pointer">cancel</i>
            <div class="card__header flex flex-col relative">
              <img class="card__image pointer"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings p-4">
                <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>

            </div>
            <div class="card__footer flex align-center">
              <div class="card__links p-2 align-center flex">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>

          <div class="card__wrapper box-shadow  flex flex-col m-8 bg--main-white">
            <div class="card__header flex flex-col relative">
              <img class="card__image pointer"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings--over-img p-4">
                <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>

            </div>
            <div class="card__footer flex align-center">
              <div class="card__links p-2 align-center flex">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>

          <div class="card__wrapper box-shadow  flex flex-col m-8 bg--main-white">
            <div class="card__header--row flex flex-col relative">
              <img class="card__image--row pointer"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings--row p-4">
                <p class="card__heading txt-xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-l bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4 hidden">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>
            </div>
            <div class="card__footer flex align-center">
              <div class="card__links p-2 align-center flex">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>

          <div class="card__wrapper box-shadow flex flex-col m-8 bg--main-white">
            <div class="card__header flex flex-col relative">
              <img class="card__image pointer"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings--top p-4">
                <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>

            </div>
            <div class="card__footer flex align-center">
              <div class="card__links p-2 align-center flex">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>

          <div class="card__wrapper box-shadow  flex flex-col m-8 bg--main-white">
            <div class="card__header flex flex-col relative">
              <img class="card__image pointer"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings p-4">
                <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>

            </div>
            <div class="card__footer flex align-center">
              <div class="card__links p-2 align-center flex hidden">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>

          <div class="card__wrapper box-shadow  flex flex-col m-8 bg--main-white">
            <div class="card__header flex flex-col relative">
              <img class="card__image pointer"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings p-4">
                <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>

            </div>
            <div class="card__footer__icons--right flex align-center">
              <div class="card__links p-2 align-center flex hidden">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>

          <div class="card__wrapper box-shadow  flex flex-col m-8 bg--main-white">
            <div class="card__header flex flex-col relative">
              <img class="card__image pointer"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings p-4">
                <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>

            </div>
            <div class="card__footer flex align-center">
              <div class="card__links p-2 align-center flex">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center hidden">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>

          </div>

          <div class="card__wrapper box-shadow  flex flex-col m-8 bg--main-white">
            <div class="card__header flex flex-col relative">
              <img class="card__image hidden"
                src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
                alt="" />

              <div class="card__headings p-4">
                <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
                <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>

            </div>
            <div class="card__footer flex align-center">
              <div class="card__links p-2 align-center flex">
                <button class="bg--primary m-2 p-2 rounded-xl txt-l  txt-main-white pointer">READ</button>
                <i class="material-icons txt-main-white">bookmark</i>
              </div>
              <div class="card__icons flex justify-center align-center hidden">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>
        </div>

        <pre><code data-language="html" >
          
  <div class="card__wrapper box-shadow flex flex-col m-8 bg--main-white relative">

   <!-- use the below div for remove button  -->

  <i class="material-icons remove absolute txt-main-white pointer">cancel</i>

   <!-- use card--header,card--header--row for getting different layouts -->

  <div class="card__header flex flex-col relative">

  <!-- use card__image,card__image--tall,card__image--horizontal,card__image--row for different layouts  -->

  <img class="card__image pointer" src=""alt=""/>

   <!-- use card__headings, card__headings--top, card__headings--over-img ,card__headings--row ,card__headings--horizontal for different layouts  -->

  <div class="card__headings p-4">

   <!-- use hidden to remove a item or be free to change the html  -->
  <p class="card__heading txt-2xl txt-bold txt-gray-200">Our Changing Planet</p>
  <p class="card__sub__heading txt-xl bold txt-gray-300">by Kurt Wagner</p>
  </div>
  <p class="card__content txt-l bold txt-gray-400 p-4">
  Visit ten places on our planet that are undergoing the biggest changes today.</p>
  </div>

   <!-- use card__footer , card__footer--horizontal, card__footer__icons--rigt for different layouts -->
  <div class="card__footer flex align-center">
  <div class="card__links p-2 align-center flex">
  <button class="bg-violet-400 m-2 p-1 rounded-m txt-m pointer">READ</button>
  <button class="bg-violet-400 m-2 p-1 rounded-m txt-m pointer">BOOKMARK</button>
  </div>
  <div class="card__icons flex justify-center align-center">
  <a class="heart pointer flex justify-center align-center"><i class="sidebar__icon material-icons txt-l txt-red-500">favorite_border</i></a>
  <a class="share pointer flex justify-center align-center"><i class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
  <a class="more pointer flex justify-center align-center"><i class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a></div>
  </div>
  </div>

</code></pre>

        <div class=" documentation__subheading h4 p-4 txt-main-white">Shopping Cards Vertical</div>
        <div class="component__container card__container">
          <div class="card__wrapper box-shadow flex flex-col m-8 bg--main-white ">
            <div class="card__header flex flex-col relative">
              <img class="card__image--tall pointer"
                src="https://m.media-amazon.com/images/I/51e1LrMnhoL._AC_UY445_.jpg" alt="" />

              <div class="card__headings">
                <p class="txt-4xl txt-gray-100">Mens Hoodie</p>
                <p class="txt-2xl txt-gray-400">Nike</p>
              </div>

            </div>

            <div class="card__footer  m-1 flex align-center ">
              <p class="txt-2xl bold txt-gray-100 m-2">₹2500</p>
              <p class="txt-2xl bold m-0 txt-gray-400 line-through">₹5000</p>
              <p class="txt-2xl bold m-2 txt-green-500">(50% Off)</p>
              <i class="liked material-icons pointer txt-main-white">favorite_border</i>
            </div>
            <div class="card__links p-2 align-center flex">
              <button
                class="button  p-4 txt-2xl width-full txt-bold bg--primary rounded-m flex justify-center align-center">Buy
                Now</button>
            </div>
            <div class="card__links p-2 align-center flex">
              <button
                class="button  p-4 txt-2xl width-full txt-bold border--primary b-2 border-solid txt--primary bg-none rounded-m flex justify-center align-center"><i
                  class="button__icon material-icons">shopping_cart</i>Add to cart</button>
            </div>

            <div class="card__icons flex justify-center align-center hidden">
              <a class="heart rounded-full pointer flex justify-center align-center "><i
                  class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
              <a class="share rounded-full pointer flex justify-center align-center"><i
                  class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
              <a class="more rounded-full pointer flex justify-center align-center"><i
                  class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
            </div>
          </div>

          <div class="card__wrapper box-shadow flex flex-col m-8 bg--main-white ">
            <div class="card__header flex flex-col relative">
              <img class="card__image--tall pointer"
                src="https://m.media-amazon.com/images/I/51e1LrMnhoL._AC_UY445_.jpg" alt="" />
              <div class="card__over-img--tag  bg-yellow-400 flex justify-center align-center rounded-m">
                <p class="card__sub__heading txt-2xl bold txt-main-black">Best Seller</p>
              </div>
              <div class="card__headings">
                <p class="txt-4xl txt-gray-100">Mens Hoodie</p>
                <p class="txt-2xl txt-gray-400">Nike</p>
              </div>

            </div>

            <div class="card__footer  m-1 flex align-center ">
              <p class="txt-2xl bold txt-gray-100 m-2">₹2500</p>
              <p class="txt-2xl bold m-0 txt-gray-400 line-through">₹5000</p>
              <p class="txt-2xl bold m-2 txt-green-500">(50% Off)</p>
              <i class="liked material-icons pointer txt-main-white">favorite_border</i>
            </div>
            <div class="card__links p-2 align-center flex">
              <button
                class="button  p-4 txt-2xl width-full txt-bold bg--primary rounded-m flex justify-center align-center">Buy
                Now</button>
            </div>
            <div class="card__links p-2 align-center flex">
              <button
                class="button  p-4 txt-2xl width-full txt-bold border--primary b-2 border-solid txt--primary bg-none rounded-m flex justify-center align-center"><i
                  class="button__icon material-icons">shopping_cart</i>Add to cart</button>
            </div>

            <div class="card__icons flex justify-center align-center hidden">
              <a class="heart pointer flex justify-center align-center "><i
                  class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
              <a class="share pointer flex justify-center align-center"><i
                  class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
              <a class="more pointer flex justify-center align-center"><i
                  class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
            </div>
          </div>
        </div>
        <pre><code data-language="html" >
  <div class="card__wrapper box-shadow flex flex-col m-8 bg--main-white card__shadow">
  <div class="card__header flex flex-col relative">
  <img class="card__image--tall pointer"src=""alt=""/>

   use below div for tags using the class card__over-img--tag
  <div class="card__over-img--tag p-2 m-2 bg--secondary flex justify-center align-center rounded-m">
  <p class="card__sub__heading txt-2xl bold txt-main-black">Best Seller</p>
  </div>
  <div class="card__headings">
  <p class="txt-4xl txt-gray-100">Mens Hoodie</p>
  <p class="txt-2xl txt-gray-400">Nike</p>
  </div>
  </div>
        
  <div class="card__footer  m-1 flex align-center ">
  <p class="txt-2xl bold txt-gray-100 m-2">₹2500</p>
  <p class="txt-2xl bold m-0 txt-gray-400 line-through">₹5000</p>
  <p class="txt-2xl bold m-2 txt-green-500">(50% Off)</p>
  <i class="liked material-icons pointer txt-main-white">favorite_border</i>
  </div>
  <div class="card__links p-2 align-center flex">
  <button class="button  p-4 txt-2xl width-full txt-bold bg--primary rounded-m flex justify-center align-center">Buy Now</button>
  </div>
  <div class="card__links p-2 align-center flex">
  <button class="button  p-4 txt-2xl width-full txt-bold border--primary b-2 border-solid txt--primary bg-none rounded-m flex justify-center align-center"><i class="button__icon material-icons">shopping_cart</i>Add to cart</button>
  </div>
          
  <div class="card__icons flex justify-center align-center hidden">
  <a class="heart pointer flex justify-center align-center "><i class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
  <a class="share pointer flex justify-center align-center"><i class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
  <a class="more pointer flex justify-center align-center"><i class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
  </div>
  </div>

</code></pre>

        <div class="documentation__subheading h4 p-4 txt-main-white">Shopping Card Horizontal</div>
        <div class="component__container card__container">
          <div class="card__wrapper--horizontal box-shadow flex flex-col m-8 bg--main-black">
            <div class="card__header--row flex flex-col relative">
              <img class="card__image--horizontal pointer"
                src="https://m.media-amazon.com/images/I/51e1LrMnhoL._AC_UY445_.jpg" alt="" />

              <div class="card__headings--horizontal p-4">
                <p class="txt-2xl txt-gray-800">Mens Hoodie</p>
                <p class="txt-2xl txt-gray-500">Nike</p>
                <div class="card__footer flex align-center ">
                  <p class="txt-2xl bold  txt-gray-800 ">₹2500</p>
                  <p class="txt-2xl bold m-2 txt-gray-400 line-through">₹5000</p>
                  <p class="txt-2xl bold m-2 txt-green-500">(50% Off)</p>
                </div>
                <div class="card__footer flex align-center ">
                  <p
                    class="add txt-2xl bold m-2 txt-gray-800  rounded-full flex justify-center align-center bg-gray-200 pointer">
                    -</p>
                  <p class="quantity txt-2xl bold  txt-gray-800 p-4 rounded-s ">1</p>
                  <p
                    class="subtract txt-2xl bold m-2 txt-green-800  rounded-full flex justify-center align-center bg-gray-200 pointer">
                    +</p>
                </div>
              </div>
              <p class="card__content txt-l bold txt-gray-400 p-4 hidden">
                Visit ten places on our planet that are undergoing the biggest
                changes today.
              </p>
            </div>
            <div class="card__footer--horizontal flex align-center">
              <div class="card__links p-2 align-center flex">
                <div class="width-half m-2"><button
                    class="button width-full b-2 border-gray-400 border-solid p-4 txt-xl txt-bold txt-main-black rounded-m flex justify-center align-center">Remove</button>
                </div>
                <div class="width-half m-2"><button
                    class="button width-full  b-2 border-gray-400 border-solid p-4 txt-xl txt-bold txt-dark-blue-500 rounded-m flex justify-center align-center">Move
                    to Wishlist</button>
                </div>
              </div>
              <div class="card__icons flex justify-center align-center hidden">
                <a class="heart pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
                <a class="share pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
                <a class="more pointer flex justify-center align-center"><i
                    class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
              </div>
            </div>
          </div>


        </div>
        <pre><code data-language="html" >
        <div class="card__wrapper box-shadow--horizontal card__shadow flex flex-col m-8 bg--main-black">
        <div class="card__header--row flex flex-col relative">
        <img class="" alt=""/>
        
        <div class="card__headings--horizontal p-4">
 <p class="txt-2xl txt-gray-800">Mens Hoodie</p>
 <p class="txt-2xl txt-gray-500">Nike</p></div>
 <div class="card__footer flex align-center ">
 <p class="txt-2xl bold  txt-gray-800 ">₹2500</p>
 <p class="txt-2xl bold m-2 txt-gray-400 line-through">₹5000</p>
 <p class="txt-2xl bold m-2 txt-green-500">(50% Off)</p>
 </div>
 <div class="card__footer flex align-center ">
 <p class="add txt-2xl bold m-2 txt-gray-800  rounded-full flex justify-center align-center bg-gray-200 pointer">-</p>
 <p class="quantity txt-2xl bold  txt-gray-800 p-4 rounded-s ">1</p>
 <p class="subtract txt-2xl bold m-2 txt-green-800  rounded-full flex justify-center align-center bg-gray-200 pointer">+</p>
 </div>
 </div>
 <p class="card__content txt-l bold txt-gray-400 p-4 hidden">
 Visit ten places on our planet that are undergoing the biggest
 changes today.
 </p>
 </div>
 <div class="card__footer--horizontal flex align-center">
 <div class="card__links p-2 align-center flex">
 <div class="width-half m-2"><button class="button width-full b-2 border-gray-400 border-solid p-4 txt-xl txt-bold txt-main-black rounded-m flex justify-center align-center">Remove</button></div>
 <div class="width-half m-2"><button class="button width-full  b-2 border-gray-400 border-solid p-4 txt-xl txt-bold txt-dark-blue-500 rounded-m flex justify-center align-center">Move to Wishlist</button>
 </div>
 </div>
 <div class="card__icons flex justify-center align-center hidden">
 <a class="heart pointer flex justify-center align-center"><i class="sidebar__icon material-icons txt-l txt-main-white">favorite_border</i></a>
 <a class="share pointer flex justify-center align-center"><i class="sidebar__icon material-icons txt-l txt-gray-200">share</i></a>
 <a class="more pointer flex justify-center align-center"><i class="sidebar__icon material-icons  txt-l txt-gray-200">more_vert</i></a>
 </div>
 </div>
 </code></pre>
 </section>


    </div>
    </div>
  </main>
  <script src="/assets/js/rainbow.js"></script>
  <script src="/assets/js/language/generic.js"></script>
  <script src="/assets/js/language/html.js"></script>
  <script src="../../script.js"></script>
</body>

</html>