<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/rainbow-cusom.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>AtomUI</title>
  </head>

  <body onload="sh_highlightDocument();">
    <div id="navbar">
      <i id="navbar__icon" class="material-icons">menu</i>
    </div>
    <main>
      <div class="main__grid">
        <section id="sidebar">
          <h1 id="sidebar__heading" class="txt-bold">
            <a href="../../index.html">AtomUI</a>
          </h1>

          <div id="sidebar__links">
            <a href="../../documentation.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Docs.
              </div>
            </a>
            <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Avatar
              </div>
            </a>
            <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Alert
              </div>
            </a>
            <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Badge
              </div>
            </a>
            <a href="../Button/button.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Button
              </div>
            </a>
            <a href="../Card/card.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Card
              </div>
            </a>
            <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Image
              </div>
            </a>
            <a href="../Input/input.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center active"
              >
                <i class="material-icons"> chevron_right </i>Input
              </div>
            </a>
            <a href="../List/list.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Lists
              </div>
            </a>
            <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Modal
              </div>
            </a>
            <a
              href="../Navigation/navigation.html"
              id="sidebar__link"
              tabindex="1"
            >
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Navigation
              </div>
            </a>
            <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Rating
              </div>
            </a>
            <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Grid
              </div>
            </a>
            <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Slider
              </div>
            </a>
            <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> snackbar
              </div>
            </a>
            <a href="../Text/text.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Text
              </div>
            </a>
          </div>
        </section>
        <section id="documentation">
          <h1 id="documentation__heading">Inputs</h1>
          <p id="documentation__brief">
            Use Input Components for showing valid , Invalid or normal Inputs by
            users.
          </p>
          <div class="documentation__subheading h4 p-4 txt-main-white">
            Valid, Invalid and normal Inputs
          </div>
          <div class="component__container flex-col">
            <div class="input__container relative m-8">
              <input
                type="text"
                class="input__text width-full p-4 rounded-m border-gray-600 txt-gray-200 border-solid b-2 txt-xl"
              />
              <h5
                class="input__tag absolute txt-xl txt-main-white bg-main-black"
              >
                Name
              </h5>
            </div>
            <div class="input__container relative m-8">
              <input
                type="text"
                class="input__text width-full p-4 rounded-m border-green-400 txt-green-400 b-2 border-solid txt-xl"
              />
              <h5
                class="input__tag absolute txt-xl txt-main-white bg-main-black"
              >
                Name
              </h5>
            </div>
            <div class="input__container relative m-8">
              <input
                type="text"
                class="input__text width-full p-4 rounded-m border-red-400 txt-red-400 b-2 border-solid txt-xl"
              />
              <h5
                class="input__tag absolute txt-xl txt-main-white bg-main-black"
              >
                Name
              </h5>
            </div>
          </div>

          <pre><code data-language="html" >
  <!-- Normal Input  -->
 <input type="text" class="input__text width-full p-4 rounded-m border-gray-800 border-solid b-2 txt-xl">
 <h5 class="input__tag absolute txt-xl  bg-main-white">Name</h5>
     
  <!-- Valid Input  -->
 <input type="text" class="input__text width-full p-4 rounded-m border-green-400 txt-green-400 b-2 border-solid txt-xl">
 <h5 class="input__tag absolute txt-xl  bg-main-white">Name</h5>
  
  <!-- InValid Input  -->
 <input type="text" class="input__text width-full p-4 rounded-m border-red-400 txt-green-400 b-2 border-solid txt-xl">
 <h5 class="input__tag absolute txt-xl bg-main-white ">Name</h5>
      </code></pre>
        </section>
      </div>
    </main>
    <script src="/assets/js/rainbow.js"></script>
    <script src="/assets/js/language/generic.js"></script>
    <script src="/assets/js/language/html.js"></script>
    <script src="../../script.js"></script>
  </body>
</html>
