<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/rainbow-cusom.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>AtomUI</title>
  </head>

  <body onload="sh_highlightDocument();">
    <div id="navbar">
      <i id="navbar__icon" class="material-icons">menu</i>
    </div>
    <main>
      <div class="main__grid">
        <section id="sidebar">
          <h1 id="sidebar__heading" class="txt-bold">
            <a href="../../index.html">AtomUI</a>
          </h1>

          <div id="sidebar__links">
            <a href="../../documentation.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Docs.
              </div>
            </a>
            <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Avatar
              </div>
            </a>
            <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Alert
              </div>
            </a>
            <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Badge
              </div>
            </a>
            <a href="../Button/button.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Button
              </div>
            </a>
            <a href="../Card/card.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Card
              </div>
            </a>
            <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center active"
              >
                <i class="material-icons"> chevron_right </i>Image
              </div>
            </a>
            <a href="../Input/input.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Input
              </div>
            </a>
            <a href="../List/list.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Lists
              </div>
            </a>
            <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Modal
              </div>
            </a>
            <a
              href="../Navigation/navigation.html"
              id="sidebar__link"
              tabindex="1"
            >
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Navigation
              </div>
            </a>
            <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Rating
              </div>
            </a>
            <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Grid
              </div>
            </a>
            <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Slider
              </div>
            </a>
            <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> snackbar
              </div>
            </a>
            <a href="../Text/text.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Text
              </div>
            </a>
          </div>
        </section>
        <section id="documentation">
          <h1 id="documentation__heading">Image</h1>
          <p id="documentation__brief">
            Use Responsive Image Component to make images responsive to size
            changes instantly.
          </p>
          <div class="documentation__subheading h4 p-4 txt-main-white">
            Responsive Image
          </div>

          <div class="component__container image__container">
            <img
              src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
              alt=""
              class="image__responsive"
            />
          </div>
          <div class="documentation__subheading h4 p-4 txt-main-white">
            Rounded Image
          </div>
          <div class="component__container image__container">
            <img
              src="https://images.unsplash.com/photo-1542261777448-23d2a287091c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60"
              alt=""
              class="image__rounded rounded-full"
            />
          </div>
          <pre><code data-language="html" >
  <!-- Responsive -->
 <div class="image__container"><img src="" alt="" class="image__responsive"></div>

  <!-- Responsive and Round -->
 <div class="image__container "><img src="" alt="" class="image__rounded rounded-full"></div>
 </code></pre>
        </section>
      </div>
    </main>
    <script src="/assets/js/rainbow.js"></script>
    <script src="/assets/js/language/generic.js"></script>
    <script src="/assets/js/language/html.js"></script>
    <script src="../../script.js"></script>
  </body>
</html>
