@import url("../style.css");

.button{
    max-height:4rem;
    outline:none;
    cursor:pointer;
    padding:1rem 2rem;
}
.button__float{
    max-height:4rem;
    max-width:4rem;
    cursor:pointer;
}
.button__icon{
display:inline-flex;
vertical-align:bottom;
padding-right:0.5rem;
}

.button__icon--float{
display:inline-flex;
vertical-align:bottom;
}

.button:hover{
 opacity:0.9;
}
.button:active,.button__float:active{
 opacity:0.6;
}
