<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../style.css" />
  <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/rainbow-cusom.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>AtomUI</title>
</head>

<body onload="sh_highlightDocument();">
  <div id="navbar">
    <i id="navbar__icon" class="material-icons">menu</i>
  </div>
  <main>
    <div class="main__grid">
      <div id="sidebar">
        <h1 id="sidebar__heading" class="txt-bold"><a href="../../home/index.html">AtomUI</a></h1>

        <div id="sidebar__links">
          <a href="../../documentation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Docs.</div>
          </a>
          <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Avatar</div>
          </a>
          <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Alert</div>
          </a>
          <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Badge</div>
          </a>
          <a href="../Button/button.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Button</div>
          </a>
          <a href="../Card/card.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Card</div>
          </a>
          <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Image</div>
          </a>
          <a href="../Input/input.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Input</div>
          </a>
          <a href="../List/list.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Lists</div>
          </a>
          <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Modal</div>
          </a>
          <a href="../Navigation/navigation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Navigation</div>
          </a>
          <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Rating</div>
          </a>
          <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Grid</div>
          </a>
          <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Slider</div>
          </a>
          <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> snackbar</div>
          </a>
          <a href="../Text/text.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Text</div>
          </a>
        </div>
      </div>
      <div id="documentation">

        <h1 id="documentation__heading"> Buttons</h1>
        <p id="documentation__brief">
          Use our pre defined buttons for all use cases.
        </p>
        <div class="documentation__subheading h4 p-4 txt-main-white">Solid Buttons</div>

        <div class="component__container flex flex-col align-center">
          <button class="button m-8  p-4  txt-2xl txt-bold bg--primary rounded-m">Primary</button>
          <button class="button m-8  p-4 txt-2xl txt-bold txt-gray-400 bg-violet-200 rounded-m"
            aria-disabled="true">Disabled</button>
          <button class="button m-8  p-4 txt-2xl txt-bold bg--success rounded-m">Success</button>
          <button class="button m-8  p-4 txt-2xl txt-bold bg--warning rounded-m">warning</button>
          <button class="button m-8  p-4 txt-2xl txt-bold bg--danger rounded-m">Danger</button>
          <a class="button m-8  p-4 txt-2xl txt-bold bg-light-blue-400 rounded-m flex justify-center align-center"
            href="https://www.w3schools.com">Link Button</a>
        </div>
        <pre><code data-language="html" >
  <!-- Solid Buttons  -->

 <button class="button m-8 p-4  txt-2xl txt-bold bg-violet-400 rounded-m">Primary</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold bg-violet-200 rounded-m">Disabled</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold bg--success rounded-m">Success</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold bg--warning rounded-m">warning</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold bg--danger rounded-m">Danger</button>
        
 <a class="button m-8 p-4 txt-2xl txt-bold bg-light-blue-400 rounded-m flex justify-center align-center" href="https://www.w3schools.com">Link Button</a>


 </code></pre>
        <div class="documentation__subheading h4 p-4 txt-main-white">Outline Buttons</div>

        <div class="component__container flex flex-col align-center">
          <button
            class="button m-8  p-4 txt-2xl txt-bold b-1 bg--none txt--primary border-solid border--primary  rounded-m">Primary</button>
          <button
            class="button m-8  p-4 txt-2xl txt-bold b-1 bg--none txt-violet-200 border-solid border-violet-200  rounded-m"
           disabled>Disabled</button>
          <button
            class="button m-8  p-4 txt-2xl txt-bold b-1 bg--none txt--success border-solid border--success rounded-m">Success</button>
          <button
            class="button m-8  p-4 txt-2xl txt-bold b-1 bg--none txt--warning border-solid border--warning rounded-m">warning</button>
          <button
            class="button m-8  p-4 txt-2xl txt-bold b-1 bg--none txt--danger border-solid border--danger rounded-m">Danger</button>
          <a class="button m-8  p-4 txt-2xl txt-bold b-1 bg--none border-solid border-light-blue-400 txt-light-blue-400 rounded-m flex justify-center align-center"
            href="https://www.w3schools.com">Link Button</a>
        </div>
        <pre><code data-language="html" >
 			
  <!-- Outline Buttons  -->
                
 <button class="button m-8 p-4 txt-2xl txt-bold b-1 bg-main-white txt-violet-400 border-solid border-violet-400  rounded-m">Primary</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold b-1 bg-main-white txt-violet-300 border-solid border-violet-300  rounded-m" disabled >Disabled</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold b-1 bg-main-white txt--success border-solid border--success rounded-m">Success</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold b-1 bg-main-white txt--warning border-solid border--warning rounded-m">warning</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold b-1 bg-main-white txt--danger border-solid border--danger rounded-m">Danger</button>
        
 <a class="button m-8 p-4 txt-2xl txt-bold b-1 bg-main-white border-solid border-light-blue-400 txt-light-blue-400 rounded-m flex justify-center align-center" href="https://www.w3schools.com">Link Button</a>
 </code></pre>
        <div class="documentation__subheading h4 p-4 txt-main-white">Icon Buttons</div>
        <div class="component__container flex flex-col align-center">
          <button class="button m-8 p-4 txt-2xl txt-bold bg-green-400 rounded-m flex justify-center align-center"><i
              class="button__icon material-icons">shopping_cart</i>Add to Cart</button>
          <button class="button m-8 p-4 txt-2xl txt-bold bg-red-500 rounded-m flex justify-center align-center"><i
              class="button__icon material-icons">shopping_cart</i>Remove Item</button>
        </div>
        <pre><code data-language="html" >

 <!-- Icon Buttons -->
 <button class="button m-8 p-4 txt-2xl txt-bold bg-green-400 rounded-m flex justify-center align-center"><i class="button__icon material-icons">shopping_cart</i>Add to cart</button>
        
 <button class="button m-8 p-4 txt-2xl txt-bold bg-red-500 rounded-m flex justify-center align-center"><i class="button__icon material-icons">add_circle_outline</i>remove item</button>
      

 </code></pre>
        <div class="documentation__subheading h4 p-4 txt-main-white">Floating Action Button</div>
        <div class="component__container flex flex-col align-center">
          <button
            class="button__float rounded-full m-8 p-4 txt-2xl txt-bold bg-green-400 rounded-m flex justify-center align-center box-shadow"><i
              class="button__icon--float material-icons">add_circle_outline</i></button>
        </div>
        <pre><code data-language="html" >

<!-- Float Buttons -->
  
 <button class="button__float rounded-full m-8 p-4 txt-2xl txt-bold bg-green-400 rounded-m flex justify-center align-center box-shadow"><i class="button__icon--float material-icons">add_circle_outline</i></button>
     
 </code></pre>
      </div>
    </div>
  </main>
  <script src="/assets/js/rainbow.js"></script>
  <script src="/assets/js/language/generic.js"></script>
  <script src="/assets/js/language/html.js"></script>
  <script src="../../script.js"></script>
</body>

</html>