<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../style.css" />
  <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/rainbow-cusom.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>AtomUI</title>
</head>

<body onload="sh_highlightDocument();">
  <div id="navbar">
    <i id="navbar__icon" class="material-icons">menu</i>
  </div>
  <main>
    <div class="main__grid">
      <div id="sidebar">
        <h1 id="sidebar__heading" class="txt-bold"><a href="../../home/index.html">AtomUI</a></h1>

        <div id="sidebar__links">
          <a href="../../documentation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Docs</div>
          </a>
          <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Avatar</div>
          </a>
          <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Alert</div>
          </a>
          <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Badge</div>
          </a>
          <a href="../Button/button.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Button</div>
          </a>
          <a href="../Card/card.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Card</div>
          </a>
          <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Image</div>
          </a>
          <a href="../Input/input.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Input</div>
          </a>
          <a href="../List/list.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Lists</div>
          </a>
          <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Modal</div>
          </a>
          <a href="../Navigation/navigation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Navigation</div>
          </a>
          <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Rating</div>
          </a>
          <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Grid</div>
          </a>
          <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Slider</div>
          </a>
          <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> snackbar</div>
          </a>
          <a href="../Text/text.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Text</div>
          </a>
        </div>
      </div>
      <div id="documentation">

        <h1 id="documentation__heading" ">Avatars</h1>
        <div id="documentation__brief">
          Display profile pictures for you users using these flexible Avatar Components.
          </div>
          <div class="documentation__subheading h4 p-4 txt-main-white">Round Avatars</div>
          <div class="component__container avatar__container m-8 ">
            <div class="avatar__wrapper rounded-full box-shadow flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--small rounded-full" />
            </div>

            <div class="avatar__wrapper rounded-full  flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--medium rounded-full box-shadow" />
            </div>

            <div class="avatar__wrapper rounded-full box-shadow  flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--large rounded-full" />
            </div>
            <div class="avatar__wrapper rounded-full box-shadow  flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--extra-large rounded-full" />
            </div>
          </div>
          <div class="documentation__subheading h4 p-4 txt-main-white">Square Avatars</div>
          <div class="component__container avatar__container m-8 ">
            <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--small rounded-xl" />
            </div>

            <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--medium rounded-xl" />
            </div>

            <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--large rounded-xl" />
            </div>
            <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
              <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
                class="avatar--extra-large rounded-xl" />
            </div>
          </div>
          <div class="documentation__subheading h4 p-4 txt-main-white">Copy the code below to get started</div>
          <pre><code data-language="html" >

  <!-- Round Avatars  -->

 <div class="avatar__wrapper rounded-full box-shadow flex justify-center align-center">
 <img src="" alt="" class="avatar--small rounded-full" />
 </div>
 <div class="avatar__wrapper rounded-full  flex justify-center align-center">
 <img src="" alt="" class="avatar--medium rounded-full box-shadow" />
 </div>
 <div class="avatar__wrapper rounded-full box-shadow  flex justify-center align-center">
 <img src="" alt="" class="avatar--large rounded-full" />
 </div>
 <div class="avatar__wrapper rounded-full box-shadow  flex justify-center align-center">
 <img src="" alt="" class="avatar--extra-large rounded-full" />
 </div>

 <!-- Square Avatars   -->

 <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
 <img src="" alt="" class="avatar--small rounded-xl" />
 </div>
 <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
 <img src="" alt="" class="avatar--medium rounded-xl" />
 </div>
 <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
 <img src="" alt="" class="avatar--large rounded-xl" />
 </div>
 <div class="avatar__wrapper rounded-xl box-shadow  flex justify-center align-center">
 <img src="" alt="" class="avatar--extra-large rounded-xl" />
 </div>
 
</code></pre>

      </div>
    </div>
  </main>
  <script src="/assets/js/rainbow.js"></script>
  <script src="/assets/js/language/generic.js"></script>
  <script src="/assets/js/language/html.js"></script>
  <script src="../../script.js"></script>
</body>

</html>