@import url("../style.css");

/* positions */

/* badge positions */
.badge--right{
  top:-2px;
  right:-2px;
}
.badge--left{
  top:-2px;
  left:-2px;
}

/* button badge positions*/
.badge__button--left{
  top:-10px;
  left:-10px;
}
.badge__button--right{
  top:-10px;
  right:-10px;
}

/* avatar badge positions*/
.badge__position--small{
  bottom:-0.4rem;
  right:-0.4rem;
}
.badge__position--medium{
  bottom:-0.1rem;
  right:-0.1rem;
}
.badge__position--large{
  bottom:0.5rem;
  right:0.5rem;
}
.badge__position--extra-large{
  bottom:1rem;
  right:1rem;
}


/* badge sizes*/
.badge--small{
  height:2rem;
  width:2rem;
}
.badge--large{
  height:2.5rem;
  width:2.5rem;
}


.txt__badge{
 padding-left:1.5rem;
 padding-right:1.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
}
