<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../style.css" />
  <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/rainbow-cusom.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>AtomUI</title>
</head>

<body onload="sh_highlightDocument();">
  <div id="navbar">
    <i id="navbar__icon" class="material-icons">menu</i>
  </div>
  <main>
    <div class="main__grid">
      <section id="sidebar">
        <h1 id="sidebar__heading" class="txt-bold"><a href="../../index.html">AtomUI</a></h1>

        <div id="sidebar__links">
          <a href="../../documentation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Docs.</div>
          </a>
          <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Avatar</div>
          </a>
          <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Alert</div>
          </a>
          <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center active"><i class="material-icons">
                chevron_right
              </i>Badge</div>
          </a>
          <a href="../Button/button.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Button</div>
          </a>
          <a href="../Card/card.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Card</div>
          </a>
          <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Image</div>
          </a>
          <a href="../Input/input.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Input</div>
          </a>
          <a href="../List/list.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Lists</div>
          </a>
          <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Modal</div>
          </a>
          <a href="../Navigation/navigation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Navigation</div>
          </a>
          <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Rating</div>
          </a>
          <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Grid</div>
          </a>
          <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> Slider</div>
          </a>
          <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i> snackbar</div>
          </a>
          <a href="../Text/text.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
                chevron_right
              </i>Text</div>
          </a>
        </div>
      </section>
      <section id="documentation">

        <h1 id="documentation__heading"> Badges</h1>
        <p id="documentation__brief">
          Documentation and examples for badges, our small count and labeling component.
        </p>
        <div class="documentation__subheading h4 p-4 txt-main-white">Avatar Badges</div>

        <div class="component__container avatar__badge__container ">
          <div class="avatar__wrapper relative rounded-full  flex justify-center align-center">
            <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
              class="avatar--medium rounded-full box-shadow" />
            <div class="badge--small badge__position--medium bg--success rounded-full absolute"></div>
          </div>

          <div class="avatar__wrapper relative rounded-full  flex justify-center align-center">
            <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
              class="avatar--medium rounded-full box-shadow" />
            <div class="badge--small badge__position--medium bg-gray-300 rounded-full absolute"></div>
          </div>

          <div class="avatar__wrapper relative rounded-full  flex justify-center align-center">
            <img src="https://pbs.twimg.com/profile_images/1482399168886829059/-_wOtXBU_400x400.jpg" alt=""
              class="avatar--medium rounded-full box-shadow" />
            <div class="badge--small badge__position--medium bg--danger rounded-full absolute"></div>
          </div>
        </div>
        <pre><code data-language="html" >
  <!-- Avatar Badge  -->
 <div class="avatar__wrapper relative rounded-full  flex justify-center align-center">
    <img src="" alt="" class="avatar--medium rounded-full box-shadow" />
    <div class="badge--small badge__position--medium bg--success rounded-full absolute"></div>
 </div>

  <!-- use avatar--small,avatar--medium,avatar--large,avatar--extra-large for Avatar Sizes 

  Use badge__position--small, badge__position--medium,badge__position--large and badge__position--extra-large
  in accordance with the Avatar Sizes to get the desired result. 

  for color of badge use : 
 active : bg-green-400
 idle: bg-gray-300
 not active: bg-red-500
  -->
 </code></pre>



        <div class="badge__container flex flex-col justify-center align-center">
          <div class="documentation__subheading h4 p-4 txt-main-white">Icon Badges</div>
          <div class="component__container flex flex-row wrap">
            <i class="badge__icon material-icons relative txt-2xl p-4 txt-main-white">home<div
                class="badge--left badge--small txt-m bg-red-500 flex justify-center align-center rounded-full absolute">
                4</div></i>

            <i class="badge__icon material-icons relative txt-2xl p-4 txt-main-white">home<div
                class="badge--right badge--small txt-m bg--danger flex justify-center align-center rounded-full absolute">
                4</div></i>
          </div>

          <pre><code data-language="html" >
  <!-- Icon Badges  -->
 <i class="badge__icon material-icons relative txt-2xl p-4">home
    <div class="badge--left badge--small txt-m bg-red-500 flex justify-center align-center rounded-full absolute">4</div>
 </i>

  <!-- Use badge--left, badge--right for changing the position of the badge  -->
 </code></pre>

          <div class="documentation__subheading h4 p-4 txt-main-white">Text Badges</div>
          <div class="component__container flex flex-row wrap">


            <div class="relative txt-2xl p-6 txt-gray-200">Text with a badge
              <div class="badge--right badge--small txt__badge txt-l bg-dark-blue-200 txt-gray-800 font-sans absolute rounded-m">
                New!</div>
            </div>

          </div>
          <div class="component__container flex flex-row wrap">
            <div class="relative txt-2xl p-8 txt-gray-200">Text with a Large badge
              <div class="badge--right badge--large txt__badge txt-xl bg-dark-blue-200 txt-gray-800 font-sans absolute rounded-m">
                New!</div>
            </div>
          </div>

          <pre><code data-language="html" >
  <!-- Text Badges  -->
 <div class="relative txt-2xl p-6 ">Text with a badge 
    <div class="badge--right badge--small txt__badge txt-l bg-dark-blue-200 font-sans absolute rounded-m"> New!</div>
 </div>
             
 <div class="relative txt-2xl p-8">Text with a Large badge
    <div class="badge--right badge--large txt__badge txt-xl bg-dark-blue-200 font-sans absolute rounded-m">New!</div>
 </div>
 </code></pre>

          <div class="documentation__subheading h4 p-4 txt-main-white">Button Badges</div>
          <div class="component__container flex flex-row wrap">
            <button class="button relative m-8 p-4  txt-xl txt-bold bg-violet-400 rounded-m">
              Button
              <div
                class="badge__button--right badge--small txt-m bg-green-400 flex justify-center align-center rounded-full absolute">
                4</div>
            </button>

          </div>
          <div class=" component__container flex flex-row wrap">
            <button onclick="badgeToggle()"
              class="button toggle__button relative m-8 p-4  txt-xl txt-bold bg-violet-400 rounded-m">
              Toggle
              <div
                class="badge__button--right toggle badge--small txt-m bg-green-400 flex justify-center align-center rounded-full absolute">
                4</div>
            </button>
          </div>

          <pre><code data-language="html" >
  <!-- Button Badges -->
 <button class="button relative m-8 p-4  txt-xl txt-bold bg-violet-400 rounded-m"> Button
    <div class="badge__button--right badge--small txt-m bg-green-400 flex justify-center align-center rounded-full absolute"> 4</div>
 </button>
  <!-- Toggle Button Badges  -->
 <button class="button toggle__button relative m-8 p-4  txt-xl txt-bold bg-violet-400 rounded-m"> Toggle
    <div class="badge__button--right toggle badge--small txt-m bg-green-400 flex justify-center align-center rounded-full absolute"> 4</div>
 </button>
 </code></pre>
        </div>
      </section>
    </div>
    </div>
    </div>
  </main>
  <script src="../../script.js"></script>
  <script src="/assets/js/rainbow.js"></script>
  <script src="/assets/js/language/generic.js"></script>
  <script src="/assets/js/language/html.js"></script>
</body>

</html>