@import url("../style.css");

.modal__screen{
    height:100%;
    width: 100%;
    position: absolute;
    z-index: 9999;
    display: none;
}

.modal__box{
    height:100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    backdrop-filter:blur(2px);
}
.modal{
    height:80%;
    width: 80%;
    backdrop-filter:grayscale(1);
}