<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>AtomUI</title>
  </head>
  <body>
    <div id="navbar">
      <i id="navbar__icon" class="material-icons">menu</i>
    </div>
    <main>
      <div class="main__grid">
  <div id="sidebar">
      <h1 id="sidebar__heading" class="txt-bold"><a href="../../index.html">AtomUI</a></h1>

      <div id="sidebar__links">
        <a href="../../documentation.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text" class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Docs.</div>
        </a>
        <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Avatar</div>
        </a>
        <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Alert</div>
        </a>
        <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Badge</div>
        </a>
        <a href="../Button/button.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Button</div>
        </a>
        <a href="../Card/card.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Card</div>
        </a>
        <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Image</div>
        </a>
        <a href="../Input/input.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Input</div>
        </a>
        <a href="../List/list.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Lists</div>
        </a>
        <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Modal</div>
        </a>
        <a href="../Navigation/navigation.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Navigation</div>
        </a>
        <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i> Rating</div>
        </a>
        <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i> Grid</div>
        </a>
        <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i> Slider</div>
        </a>
        <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i> snackbar</div>
        </a>
        <a href="../Text/text.html" id="sidebar__link" tabindex="1">
          <div id="sidebar__link__text"class="flex justify-center align-center"><i class="material-icons">
chevron_right
</i>Text</div>
        </a>
      </div>
    </div>
    <div id="documentation">
      
      <h1 id="documentation__heading">Snackbar</h1>
      <p id="documentation__brief">
       Snackbars are very usefull and help in updating a user about a process along with some task.
        </p>
        <div class="h4 p-4 txt-main-white">Retry Snackbar</div>
     <div id="snackbar" class="rounded-m m-8">
        <div id="message" class="txt-2xl">Can't send photo. Retry in 5 seconds.</div>
        <button id="retry" class="txt-2xl">RETRY</button>
        <div id="remove">✖</div>
      </div>
      <div class="iframe__container">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=none&l=htmlmixed&width=538&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=116%25&si=false&es=2x&wm=false&code=%253Cdiv%2520id%253D%2522snackbar%2522%2520class%253D%2522rounded-m%2522%253E%250A%253Cdiv%2520id%253D%2522message%2522%2520class%253D%2522txt-2xl%2522%253ECan%27t%2520send%2520photo.%2520Retry%2520in%25205%2520seconds.%253C%252Fdiv%253E%250A%253Cbutton%2520id%253D%2522retry%2522%2520class%253D%2522txt-2xl%2522%253ERETRY%253C%252Fbutton%253E%250A%253Cdiv%2520id%253D%2522remove%2522%253E%25E2%259C%2596%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      </div>
    </div>
    
    </div>
    </div>
    </main>
    
    <script src="../../script.js"></script>
  </body>
</html>
