<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/rainbow-cusom.min.js"></script>
    <title>AtomUI</title>
  </head>
  <body onload="sh_highlightDocument();">
    <div id="navbar">
      <i id="navbar__icon" class="material-icons">menu</i>
    </div>
    <main>
      <div class="main__grid">
        <section id="sidebar">
          <h1 id="sidebar__heading" class="txt-bold">
            <a href="../../index.html">AtomUI</a>
          </h1>

          <div id="sidebar__links">
            <a href="../../documentation.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Docs.
              </div>
            </a>
            <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Avatar
              </div>
            </a>
            <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Alert
              </div>
            </a>
            <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Badge
              </div>
            </a>
            <a href="../Button/button.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Button
              </div>
            </a>
            <a href="../Card/card.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Card
              </div>
            </a>
            <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Image
              </div>
            </a>
            <a href="../Input/input.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Input
              </div>
            </a>
            <a href="../List/list.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Lists
              </div>
            </a>
            <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Modal
              </div>
            </a>
            <a
              href="../Navigation/navigation.html"
              id="sidebar__link"
              tabindex="1"
            >
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i>Navigation
              </div>
            </a>
            <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Rating
              </div>
            </a>
            <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Grid
              </div>
            </a>
            <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> Slider
              </div>
            </a>
            <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center"
              >
                <i class="material-icons"> chevron_right </i> snackbar
              </div>
            </a>
            <a href="../Text/text.html" id="sidebar__link" tabindex="1">
              <div
                id="sidebar__link__text"
                class="flex justify-center align-center active"
              >
                <i class="material-icons"> chevron_right </i>Text
              </div>
            </a>
          </div>
        </section>
        <section id="documentation">
          <h1 id="documentation__heading">Texts</h1>
          <p id="documentation__brief">
            pre defined text sizes for more readability.
          </p>
          <div class="component__container flex flex-col">
            <div id="text__box">
              <div class="small txt-gray-200">Small Text</div>
            </div>

            <div id="text__box">
              <div class="small txt-gray-400">Gray Text</div>
            </div>

            <div id="text__box">
              <div class="small center txt-gray-200">Center Text</div>
            </div>

            <div id="text__box">
              <div class="txt-gray-200 h1">Heading 1</div>
              <div class="txt-gray-200 h2">Heading 2</div>
              <div class="txt-gray-200 h3">Heading 3</div>
              <div class="txt-gray-200 h4">Heading 4</div>
              <div class="txt-gray-200 h5">Heading 5</div>
              <div class="txt-gray-200 h6">Heading 6</div>
            </div>
          </div>
          <pre><code data-language="html" >
          <div class="small">Small Text</div>
  <div class="small txt-gray-400">Gray Text</div>
  <div class="small center">Center Text</div>
  <div class="h1">Heading 1 </div>
  <div class="h2">Heading 2 </div>
  <div class="h3">Heading 3 </div>
  <div class="h4">Heading 4 </div>
  <div class="h5">Heading 5 </div>
  <div class="h6">Heading 6 </div>
        </code></pre>
        </section>
      </div>
    </main>
    <script src="/assets/js/rainbow.js"></script>
    <script src="/assets/js/language/generic.js"></script>
    <script src="/assets/js/language/html.js"></script>
    <script src="../../script.js"></script>
  </body>
</html>
