<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../style.css" />
  <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/rainbow-cusom.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>AtomUI</title>
</head>

<body onload="sh_highlightDocument();">
  <nav id="navbar">
    <i id="navbar__icon" class="material-icons">menu</i>
  </nav>
  <main>
    <div class="main__grid">
      <div id="sidebar">
        <h1 id="sidebar__heading" class="txt-bold">
          <a href="../../index.html">AtomUI</a>
        </h1>

        <div id="sidebar__links">
          <a href="../../documentation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Docs.
            </div>
          </a>
          <a href="../Avatar/avatar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Avatar
            </div>
          </a>
          <a href="../Alert/alert.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Alert
            </div>
          </a>
          <a href="../Badge/badge.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Badge
            </div>
          </a>
          <a href="../Button/button.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Button
            </div>
          </a>
          <a href="../Card/card.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Card
            </div>
          </a>
          <a href="../Image_/image.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Image
            </div>
          </a>
          <a href="../Input/input.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Input
            </div>
          </a>
          <a href="../List/list.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Lists
            </div>
          </a>
          <a href="../Modal/modal.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Modal
            </div>
          </a>
          <a href="../Navigation/navigation.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Navigation
            </div>
          </a>
          <a href="../Rating/rating.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i> Rating
            </div>
          </a>
          <a href="../Grid/grid.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i> Grid
            </div>
          </a>
          <a href="../Slider/slider.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i> Slider
            </div>
          </a>
          <a href="../Snackbar/snackbar.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i> snackbar
            </div>
          </a>
          <a href="../Text/text.html" id="sidebar__link" tabindex="1">
            <div id="sidebar__link__text" class="flex justify-center align-center">
              <i class="material-icons"> chevron_right </i>Text
            </div>
          </a>
        </div>
      </div>
      <div id="documentation">
        <h1 id="documentation__heading">Alerts</h1>
        <p id="documentation__brief">
          Provide contextual feedback messages for typical user actions with the handful of available and flexible alert
          messages.
        </p>
        <div class="documentation__subheading h4 p-4 txt-main-white">Solid Alerts</div>

        <div class="component__container alert__container flex-col">
          <div class="alert__solid--success m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">check_circle</i>Your
            action was successful!
          </div>
          <div class="alert__solid--danger m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">dangerous</i>Don't share
            your password!
          </div>
          <div class="alert__solid--warning m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">warning</i>Warning!
            Warning! Warning!
          </div>
          <div class="alert__solid--info box-shadow m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">announcement</i> Hello!
            How may I help you?
          </div>
        </div>
        <div class="documentation__subheading h4 p-4 txt-main-white">Outlined Alerts</div>
        <div class="component__container alert__container flex-col">
          <div class="alert__outline--success m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">check_circle</i>Your
            action was successful!
          </div>
          <div class="alert__outline--danger m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">dangerous</i>Don't share
            your password!
          </div>
          <div class="alert__outline--warning m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">warning</i>Warning!
            Warning! Warning!
          </div>
          <div class="alert__outline--info box-shadow m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
            <i class="alert__icon material-icons p-1">announcement</i>Hello!
            How may I help you?
          </div>
        </div>
        <div class="documentation__subheading h4 p-4 txt-main-white">Copy the code below to get started</div>


        <pre><code data-language="html" >

 <!-- Solid Alert  -->

 <div class="alert__solid--success m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">check_circle</i>Your action was successful! </div>

 <div class="alert__solid--danger m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">dangerous</i>Don't share your password! </div>

 <div class="alert__solid--warning m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">warning</i>Warning!  Warning! Warning! </div>

 <div class="alert__solid--info box-shadow m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">announcement</i> Hello! How may I help you? </div>

 <!-- Outlined Alert -->

 <div class="alert__outline--success m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">check_circle</i>Your action was successful! </div> 

 <div class="alert__outline--danger m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">dangerous</i>Don't share your password! </div>

 <div class="alert__outline--warning m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">warning</i>Warning! Warning! Warning! </div>
 
 <div class="alert__outline--info box-shadow m-8 box-shadow txt-2xl flex justify-start align-center rounded-m">
 <i class="alert__icon material-icons p-1">announcement</i>Hello! How may I help you?
 </div>
 </code></pre>

      </div>
    </div>
  </main>
  <script src="/assets/js/rainbow.js"></script>
  <script src="/assets/js/language/generic.js"></script>
  <script src="/assets/js/language/html.js"></script>
  <script src="../../script.js"></script>
</body>

</html>